<p id="notice"><%= notice %></p>

<h1>
  <%= @collection.name %>
</h1>
<div>
  <%= @collection.description %>
</div>
<div class="collection-images">
  <% @collection.images.each do |image| %>
    <%= image_tag image.thumbnail_image_path %>
  <% end %>
</div>
