.collection-item {
  border: 1px solid lighten($black, 30);
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
  padding-top: $vertical-space / 2;
  padding-bottom: $vertical-space / 2;

  &:nth-child(even) {
    background-color: darken($white, 5);
  }
}

.collection-images {
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;

  h2 {
    font-size: 1.75rem;
  }

  .collection-image,
  .image-name {
    margin-top: $vertical-space / 2;
    margin-bottom: $vertical-space / 2;
  }
}

.collection-description {
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
}

.crud-buttons {
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
}

.template-button {
  margin-top: $vertical-space / 2;
  margin-bottom: $vertical-space / 2;
}
